.loader {
  display: inline-block;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}
.loader span {
  opacity: 0;
  animation-fill-mode: both;
}
.loader span:first-child {
  animation: pulse 1.2s ease-in-out 0s infinite alternate;
}
.loader span:nth-child(2) {
  animation: pulse 1.2s ease-in-out 0.4s infinite alternate;
}

.loader span:nth-child(3) {
  animation: pulse 1.2s ease-in-out 0.8s infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
