@layer components {
  .ex-table {
    caption-side: bottom;
    td {
      @apply border;
    }
    tr:hover {
      td {
        @apply bg-slate-200 dark:bg-slate-700;
      }
    }
    tr.link-cells {
      a {
        @apply block p-2;
      }
    }
    tr.link-row {
      position: relative;
      td {
        @apply p-2;
      }
      td:first-child > a::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
