<div class="rss">
<h3>Subscribe</h3>
<div class="rss"><a href="http://feeds2.feedburner.com/goodblogkarl">RSS</a></div>
<form action="http://feedburner.google.com/fb/a/mailverify" method="post">
  <div class="hide">

    <input type="hidden" value="goodblogkarl" name="uri">
    <input type="hidden" name="loc" value="en_US"/>
  </div>
  <div class="text placeholder">
    <label for="email">Email:</label>
    <input placeholder="Email..." id="email" type="email" name="email">
  </div>
  <div class="actions">
    <button class="btn" type="submit">Subscribe</button>
  </div>
</form>

</div>