---
import Layout from '@/layouts/Layout.astro';

const {
  image = '/img/good-dog-carl.jpg',
} = Astro.props;
---

<Layout
  title='About this site'
  description='Stuff about this site'
>
  <main
    class='prose antialiased prose-headings:font-medium prose-h2:text-[2rem] prose-h2:leading-9 prose-headings:text-black prose-p:text-xl prose-p:leading-9 dark:prose-dark md:max-w-3xl md:mx-auto mx-4 md:my-0 my-4 prose-li:text-lg'
  >
    <p>Hello, my name is Karl. I like to write code. Sometimes I record things that I’ve discovered.</p>
    <p>My memory is bad. This blog helps me when my memory fails.</p>
    <p>The inspiration for the name of this blog comes from the book, Good Dog, Carl</p>
    <img src={image} alt='Good Dog, Carl book cover'>
  </main>
</Layout>
