---
const foo = 1;
---

<hr
  class="border-t-2 border-t-neutral-[#474056] w-[355px] md:w-[600px] mx-auto mt-14"
/>

<div class="text-center p-4 text-neutral-500 text-sm">
  <div class="flex justify-center items-center gap-2 align-middle mb-2">
    <a href="https://github.com/kswedberg" target="_blank" rel="noopener noreferrer" title="GitHub">
      <span class="sr-only">GitHub</span>
      <svg
        viewBox="0 -0.5 48 48"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        fill="#000000"
        class="w-8 h-8 inline-block align-middle">
        <g
          id="github_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g>
        <g id="svg-github">
          <g
            id="Icons"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g
              id="Color-"
              transform="translate(-700.000000, -560.000000)"
              fill="#10b981"
            >
              <path
                d="M723.9985,560 C710.746,560 700,570.787092 700,584.096644 C700,594.740671 706.876,603.77183 716.4145,606.958412 C717.6145,607.179786 718.0525,606.435849 718.0525,605.797328 C718.0525,605.225068 718.0315,603.710086 718.0195,601.699648 C711.343,603.155898 709.9345,598.469394 709.9345,598.469394 C708.844,595.686405 707.2705,594.94548 707.2705,594.94548 C705.091,593.450075 707.4355,593.480194 707.4355,593.480194 C709.843,593.650366 711.1105,595.963499 711.1105,595.963499 C713.2525,599.645538 716.728,598.58234 718.096,597.964902 C718.3135,596.407754 718.9345,595.346062 719.62,594.743683 C714.2905,594.135281 708.688,592.069123 708.688,582.836167 C708.688,580.205279 709.6225,578.054788 711.1585,576.369634 C710.911,575.759726 710.0875,573.311058 711.3925,569.993458 C711.3925,569.993458 713.4085,569.345902 717.9925,572.46321 C719.908,571.928599 721.96,571.662047 724.0015,571.651505 C726.04,571.662047 728.0935,571.928599 730.0105,572.46321 C734.5915,569.345902 736.603,569.993458 736.603,569.993458 C737.9125,573.311058 737.089,575.759726 736.8415,576.369634 C738.3805,578.054788 739.309,580.205279 739.309,582.836167 C739.309,592.091712 733.6975,594.129257 728.3515,594.725612 C729.2125,595.469549 729.9805,596.939353 729.9805,599.18773 C729.9805,602.408949 729.9505,605.006706 729.9505,605.797328 C729.9505,606.441873 730.3825,607.191834 731.6005,606.9554 C741.13,603.762794 748,594.737659 748,584.096644 C748,570.787092 737.254,560 723.9985,560"
                id="Github"
              >
              </path>
            </g>
          </g>
        </g>
      </svg>
    </a>
    <a href="/rss.xml" target="_blank" rel="noopener noreferrer" title="RSS">
      <span class="sr-only">RSS</span>
      <svg
        fill="#10b981"
        viewBox="-4 -4 24 24"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMinYMin"
        class="w-10 h-10 align-middle"
        stroke="#10b981">
        <g id="rss_bgCarrier" stroke-width="0"></g>
        <g
          id="rss_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g>
          <g id="svg-rss"
          ><path
            d="M1.996 15.97a1.996 1.996 0 1 1 0-3.992 1.996 1.996 0 0 1 0 3.992zM1.12 7.977a.998.998 0 0 1-.247-1.98 8.103 8.103 0 0 1 9.108 8.04v.935a.998.998 0 1 1-1.996 0v-.934a6.108 6.108 0 0 0-6.865-6.06zM0 1.065A.998.998 0 0 1 .93.002C8.717-.517 15.448 5.374 15.967 13.16c.042.626.042 1.254 0 1.88a.998.998 0 1 1-1.992-.133c.036-.538.036-1.077 0-1.614C13.53 6.607 7.75 1.548 1.065 1.994A.998.998 0 0 1 0 1.064z"></path>
        </g>
      </svg>
    </a>
  </div>

  <div>
    © {new Date().getFullYear()}
    <a
      href="https://karlswedberg.com"
      class="hover:text-emerald-500"
      >
      Karl Swedberg
    </a>
  </div>
</div>
