---
---

<div
  class='mt-6 text-left font-sans mb-6 md:max-w-3xl md:mx-auto max-w-sm mx-4'
>
  <a href='/'>
    <h1 class='text-3xl font-semibold text-black tracking-widest'>
      Good Blog, Karl
    </h1>
  </a>
</div>
