<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if tag -%}{{ tag }} -{% elseif title -%}{{ title }} -{%- endif %} {{ siteTitle }}</title>
  {% include './includes/header.html' %}
</head>

<body>
  <div class="wrapper">
    <header class="w">
      <h2><a href="/">{{ siteTitle }}</a></h2>
      <a href="/about/" class="tagline">woof.</a>
    </header>
    <div class="w group">
      {% block content %}{% endblock %}
      <aside>
        {% include './includes/search.html' %}
        {% include './includes/recent_posts.html' %}
        {% include './includes/topics.html' %}
        {% include './includes/rss.html' %}
      </aside>
    </div>

    <footer class="w">
      <nav>
        <a href="/about/">About</a>
        <a href="/topic/">Topics</a>
      </nav>
    </footer>
  </div>
  {% include './includes/footer.html' %}
</body>
</html>
