{% extends "./default.html" %}

{% block content %}
<div class="title">
  {{description}}
</div>
{{ contents|safe }}
<section class="page post">

  <h3>Most Recently&hellip;</h3>
  <article>
    {% set post = collections.posts|first %}
    <h2><a class="post-title" href="/{{ post.url }}/">{{ post.title }}</a></h2>

    {{post.contents.toString()}}

  </article>
  <a class="prev" rel="prev" href="/{{post.next.url}}/" title="{{ post.next.title }}" data-date="{{ post.next.date }}">&larr; Previous</a>
</section>
{% endblock %}
