{% extends "./default.html" %}
{% block content %}
<section class="post">

<article>
  <header>
    <time datetime="{{ date | date('Y-m-d') }}" pubdate>{{ date | date('d M Y') }}</time>
    <h1>
      <a href="/{{ path }}/"
         class="post-title"
         rel="bookmark"
         title="link to this post">
         {{ title }}
      </a>
    </h1>
  </header>

  {{ contents|safe }}


  <footer>
    <div class="categories">Filed under
    {% for cat in cats -%}
      <a href="/topic/{{cat}}/">{{cat}}</a>
    {%- endfor %}
    </div>
    <p class="group">
      {% for post in collections.posts -%}
        {% if post.title == title -%}
          {# Since posts are in reverse order, post.next is actually the previous post #}
          {% if post.next.title -%}
            <a class="prev" rel="prev" href="/{{post.next.url}}/" title="{{ post.next.title }}" data-date="{{ post.next.date }}">&larr; Previous</a>
          {%- endif %}
          {% if post.previous.title -%}
            <a class="next" rel="previous" href="/{{ post.previous.url}}/" title="{{ post.previous.title }}" data-date="{{ post.previous.date }}">Next &rarr;</a>
          {%- endif %}
        {%- endif %}
      {%- endfor %}
    </p>
  </footer>
</article>
  {% include './includes/disqus.html' %}
</section>
{% endblock %}
