---
import { keys } from 'markdown-it/lib/common/html_blocks';
import PageFooter from '@/components/PageFooter.astro';
import Head from '@/components/Head.astro';
import PageMenu from '@/components/PageMenu.astro';
import SinglePost from '@/components/SinglePost.astro';

import '@/assets/css/main.css';

const {post} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head
      title={post.title}
      description={post.description}
    />
  </head>
  <body>
    <div class="flex flex-col grow px-4 md:mx-auto md:max-w-3xl">
      <PageMenu />
      <main class="grow pt-8 sm:pt-16 lg:pt-20">
        <SinglePost post={post} />
        <section id="comments" class="comments">
          <div id="disqus_thread"></div>
          <script>
          var disqus_shortname = 'goodblogkarl';
          // Need opening slash and /index.html to match disqus_identifier from old Jekyll blog
          var disqus_identifier = '/{{ }}/index.html';
          var disqus_url = '{{ siteUrl}}{{ url }}/';
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </section>
      </main>
      <PageFooter />
    </div>
  </body>
</html>
